:root {
    --bg-main: #f5f5f5;
    --bg-aux: #d9d9d9;
    --primary: #2d3648;
}

/* ... */

body {
    font-family: Arial, sans-serif;
    line-height: 1.5em;
    background-color: var(--bg-main);
}

/* ... */

.bg-white { background-color: white; }
.bg-aux { background-color: var(--bg-aux); }
.bg-primary { background-color: var(--primary); }
.border-light { border: 2px solid var(--bg-aux); }
.border-dark { border: 2px solid var(--primary); }

/* ... */

.header {
    padding: 12px 20px;
    border-bottom: 2px solid var(--bg-aux);
}

.section {
    margin: 20px;
}

.card {
    padding: 20px;
    border-radius: 20px;
}

/* ... */

.flex {
    display: flex;
    gap: 12px;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-spread {
    justify-content: space-between;
}

.flex-centered {
    justify-content: center;
}

/* ... */

.btn {
    padding: 12px 20px;
    background-color: transparent;
    border: 2px solid var(--primary);
    cursor: pointer;
    border-radius: 20px;
    font-size: 0.8em;
}

.btn:hover {
    background-color: color-mix(in srgb, var(--primary) 20%, var(--bg-main));
}

.btn-highlight {
    background-color: var(--primary);
    color: white;
}

.btn-highlight:hover {
    background-color: color-mix(in srgb, var(--bg-main) 20%, var(--primary));
}

.btn-wide {
    display: inline-block;
    width: min(30vw, 300px);
}

/* ... */

.title {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
}

.subtitle {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.7em;
}

/* ... */

#upload-section {
    text-align: center;
    min-height: 50vh;
    /* border: 2px dashed var(--primary); */
}

#upload-box {
    max-width: 40vw;
}

#upload-box input[type="file"] {
    display: none;
}

#history-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

#history-section .flex {
    align-items: normal;
}

#history-section .flex .btn {
    align-self: end;
}
