:root {
    --bg-main: #f5f5f5;
    --bg-aux: #d9d9d9;
    --primary: #2d3648;
    --error-primary: #c20d19;
}

/* ... */

body {
    font-family: Arial, sans-serif;
    font-size: 28px;
    line-height: 36px;
    background-color: var(--bg-main);
}

/* ... */

.bg-white { background-color: white; }
.bg-aux { background-color: var(--bg-aux); }
.bg-primary { background-color: var(--primary); }
.border-light { border: 2px solid var(--bg-aux); }
.border-dark { border: 2px solid var(--primary); }

/* ... */

.header {
    padding: 12px 20px;
    border-bottom: 2px solid var(--bg-aux);
}

.section {
    margin: 20px;
}

.card {
    padding: 20px;
    border-radius: 20px;
}

/* ... */

.flex {
    display: flex;
    gap: 12px;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-spread {
    justify-content: space-between;
}

.flex-centered {
    justify-content: center;
}

.errortext {
    font-size: 0.6em;
    font-weight: bold;
    color: var(--error-primary);
}

.hidden {
    display: none;
}

/* ... */

.btn {
    padding: 12px 20px;
    background-color: var(--primary);
    color: white;
    border: 2px solid var(--primary);
    cursor: pointer;
    border-radius: 20px;
    font-size: 0.7em;
    min-width: 150px;
}

.btn:hover {
    background-color: color-mix(in srgb, var(--bg-main) 20%, var(--primary));
}

.btn:disabled {
    background-color: transparent;
    color: black;
}

.textbox {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--bg-aux);
    width: 200px;
    font-size: 0.7em;
    padding: 10px;
}

/* ... */

.title {
    font-size: 1.2em;
    line-height: 1.7em;
}

/* ... */

table {
    width: 100%;
}

table th {
    text-align: left;
    font-size: 0.85em;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--bg-aux);
}

table td {
    font-size: 0.6em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bg-aux);
}

/* ... */

#upload-box {
    text-align: center;
    max-width: 50vw;
}

#upload-box input[type="file"] {
    display: none;
}

#analytics-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

#analytics-section .flex {
    align-items: normal;
    padding: 40px;
}

#analytics-section .title {
    font-size: 0.8em;
}

#back-link {
    text-decoration: none;
    color: black;
    font-size: 0.6em;
    border-radius: 20px;
    padding: 5px 20px;
    width: fit-content;
}
