{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patentify</title>
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>
<body>
    {% include 'elements/header.html' %}
    <main>
        <div class="section card bg-white flex flex-centered">
            <form id="upload-box" method="post" enctype="multipart/form-data">
                <p>Загрузите файл, содержащий информацию по патентам, в строгом соответствии с <a href="#">шаблонным файлом в формате .csv</a></p>
                {% csrf_token %}
                <input type="file" name="file" id="file-input" accept=".csv">
                <label for="file-input" class="btn btn-wide btn-highlight">Прикрепить файл</label>
                <div class="card flex flex-centered">
                    <div id="file-name-display"></div>
                    <button type="submit" class="btn btn-highlight hidden">Загрузить</button>
                </div>
                <div id="upload-result" class="card"></div>
            </form>
            <script src="{% static 'myapp/upload.js' %}"></script>
        </div>
        <div class="section title">Найти по ИНН</div>
        <form id="ssn-search-box" class="section flex">
            <input type="text" placeholder="Введите ИНН" class="textbox">
            <button class="btn btn-highlight">Найти</button>
            <script src="{% static 'myapp/ssn-search.js' %}"></script>
        </form>
        <div id="ssn-search-result" class="section"></div>
    </main>
</body>
</html>
