{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patentify</title>
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>
<body>
    {% include 'elements/header.html' %}
    <main>
        <div class="section flex">
            <img height="50" src="{% static 'myapp/arrow.svg' %}" alt="Назад">
            <div class="title">нейминг заголовка</div>
        </div>
        {% include 'elements/upload.html' %}
        <div class="section flex flex-spread">
            <span class="title">История поисков</span>
            <button class="btn btn-wide">Смотреть все</button>
        </div>
        <div id="history-section" class="section">
            <div class="card bg-white border-light flex flex-column flex-spread">
                <div>
                    <div class="subtitle">Name patent</div>
                    <div>MAYBE SHORT INFORMATION ABOUT IT'S</div>
                    <div>MAYBE SHORT INFORMATION ABOUT IT'S</div>
                </div>
                <button class="btn btn-highlight btn-wide">Button</button>
            </div>
            <div class="card bg-white border-light flex flex-column flex-spread">
                <div>
                    <div class="subtitle">Name patent</div>
                    <div>MAYBE SHORT INFORMATION ABOUT IT'S</div>
                    <div>MAYBE SHORT INFORMATION ABOUT IT'S</div>
                </div>
                <button class="btn btn-highlight btn-wide">Button</button>
            </div>
        </div>
    </main>
</body>
</html>
